<a href="#modal-delete" class="btn btn-red js-modal-link">Действительно хотите удалить?</a>

<div class="modal modal__delete" id="modal-delete">

    <div class="modal__content">
        <div class="modal__close close"></div>
        <div class="title-1">Действительно хотите удалить?</div>
        <div class="modal__w-50">
            <div class="modal__form_group">
                <button class="btn btn-gray w-100">Нет</button>
            </div>
            <div class="modal__form_group">
                <button class="btn btn-red w-100">Да, удалить</button>
            </div>
        </div>
    </div>
    <!-- /.modal__content -->

    <div class="overlay-modal"></div>

</div>
<!-- /.modal -->