<a href="#modal-object-name" class="btn btn-red js-modal-link">Укажите название объекта</a>

<div class="modal modal__object-name" id="modal-object-name">

    <div class="modal__content">
        <div class="modal__close close"></div>

        <div class="title-1">Укажите название объекта</div>

        <div class="modal__subtitle">
            Чтобы вы могли быстро найти это коммерческое предложение в вашем личном кабинете, укажите название объекта
        </div>

        <form class="modal__form needs-validation" novalidate>
            <div class="modal__w-50">
                <label class="modal__form_group">
                    <input type="text" class="modal__form_input" placeholder="Название объекта" required>
                </label>
                <div class="modal__form_group">
                    <button class="btn btn-red w-100">Сохранить и получить КП</button>
                </div>
                <div class="modal__form_group"></div>
                <div class="modal__form_group modal__object-name_link">
                    <a href="#" class="link-gray underline">Пропустить и получить КП</a>
                </div>
            </div>
        </form>
        <!-- /.modal__form -->
    </div>
    <!-- /.modal__content -->

    <div class="overlay-modal"></div>

</div>
<!-- /.modal -->