@media (max-width: 991.98px) {
  .filter {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 350px;
    max-width: 80%;
    height: 100vh;
    min-height: auto;
    padding: 0 15px 30px;
    overflow-y: auto;
    z-index: 3;
    transition: .3s;
    &.active {
      transform: translateX(0);
    }
    &:before {
      display: none;
    }
  }
  .filter__close {
    display: block;
  }
}

@media (max-width: 767.98px) {
  .filter {
    padding: 25px 10px;
  }
  .filter__title {
    height: auto;
    padding: 0 0 10px;
  }
}