@media (max-width: 991.98px) {
  .documentation__grid_list_item {
    flex-wrap: wrap;
    padding: 10px 15px;
  }
  .documentation__grid_list_item_label {
    width: 100%;
    padding-right: 0;
  }
  .documentation__grid_list_item_btn {
    margin-top: 5px;
  }
}

@media (max-width: 767.98px) {
  .documentation__grid_item {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .documentation__grid_right {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
  }
  .documentation__grid_title {
    padding: 0;
    margin-bottom: 10px;
  }
  .documentation__grid_list_item {
    padding: 10px;
  }
}