@media (max-width: 767.98px) {
  .header-3 {
    .header__top {
      display: block;
    }
    .header__top_list {
      padding: 0;
    }
    .header__login_icon {
      display: block;
    }
    .header__login_name {
      display: block;
    }
    .header__login_link {
      span {
        display: inline-block;
      }
    }
  }
}