<div class="header">

    <div class="header__top">
        <div class="container">
            <ul class="header__top_list">
                <li class="hamburger">
                    <div class="hamburger-line"></div>
                    <div class="hamburger-line"></div>
                    <div class="hamburger-line"></div>
                    <div class="hamburger-line"></div>
                </li>
                <li class="header__top_list_item">
                    <a href="#" class="header__top_list_item_link">Мой профиль</a>
                </li>
                <li class="header__top_list_item">
                    <a href="#" class="header__top_list_item_link">Мои коммерческие предложения</a>
                </li>
                <li class="header__top_list_item">
                    <a href="#" class="header__top_list_item_link">Счета</a>
                </li>
                <li class="header__top_list_item header__login">
                    <div class="header__login_icon">
                        <img src="../../assets/img/icons/lock.png" alt="">
                    </div>
                    <div class="header__login_name">Александров И.Е.</div>
                    <a href="#" class="header__login_link"> | Выйти</a>
                </li>
            </ul>
            <!-- /.header__top_list -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.header__top -->

    <div class="header__mid">
        <div class="container">
            <div class="header__mid_block">
                <div class="header__mid_left">
                    <a href="index.html" class="logo">
                        <img src="../../assets/img/icons/logo.png" alt="">
                    </a>
                    <div class="logo-text">
                        Производство и продажа <br>
                        щитов автоматики
                    </div>
                </div>
                <div class="header__mid_right">
                    <a href="mailto:info@gkavtomatika.ru" class="header__mid_email">info@gkavtomatika.ru</a>
                    <a href="tel:+78129850550" class="header__mid_tel">+7 (812) 985-05-50</a>
                    <a href="#" class="header__mid_btn btn btn-red">Заказать звонок</a>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.header__mid -->

    <div class="header__bot">
        <div class="container">
            <ul class="header__navigation">
                <li class="header__navigation_item">
                    <a href="#" class="header__navigation_item_link active">Вентиляция</a>
                </li>
                <li class="header__navigation_item">
                    <a href="#" class="header__navigation_item_link">Индивидуальные тепловые пункты</a>
                </li>
                <li class="header__navigation_item">
                    <a href="#" class="header__navigation_item_link">Противопожарная вентиляция</a>
                </li>
                <li class="header__navigation_item header__navigation_search">
                    <a href="#" class="header__navigation_search_link btn btn-gray">
                        Поиск
                        <img src="../../assets/img/icons/search.png" alt="">
                    </a>
                </li>
                <li class="header__navigation_item">
                    <a href="#" class="header__navigation_item_link">Доставка и оплата</a>
                </li>
                <li class="header__navigation_item">
                    <a href="#" class="header__navigation_item_link">О компании</a>
                </li>
                <li class="header__navigation_item">
                    <a href="#" class="header__navigation_item_link">Контакты</a>
                </li>
            </ul>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.header__bot -->

</div>
<!-- /.header -->