<div class="table-page">
    <div class="container">

        <div class="title-1">Клиенты</div>

        <div class="table__scroll">

            <div class="table">
                <div class="table__head">
                    <ul class="table__list">
                        <li class="table__list_item">Клиент</li>
                        <li class="table__list_item">Почта</li>
                        <li class="table__list_item">Телефон</li>
                        <li class="table__list_item">Компания</li>
                        <li class="table__list_item">Ответственный</li>
                        <li class="table__list_item">Скидка щиты/автом.</li>
                    </ul>
                </div>
                <div class="table__search">
                    <ul class="table__list">
                        <li class="table__list_item">
                            <input type="search">
                            <img src="assets/img/icons/table-search.png" alt="" class="table__search_icon">
                        </li>
                        <li class="table__list_item">
                            <input type="search">
                            <img src="assets/img/icons/table-search.png" alt="" class="table__search_icon">
                        </li>
                        <li class="table__list_item">
                            <input type="search">
                            <img src="assets/img/icons/table-search.png" alt="" class="table__search_icon">
                        </li>
                        <li class="table__list_item">
                            <input type="search">
                            <img src="assets/img/icons/table-search.png" alt="" class="table__search_icon">
                        </li>
                        <li class="table__list_item">
                            <input type="search">
                            <img src="assets/img/icons/table-search.png" alt="" class="table__search_icon">
                        </li>
                        <li class="table__list_item"></li>
                    </ul>
                </div>
                <div class="table__body">
                    <ul class="table__list">
                        <li class="table__list_item">Александров Илья Евг...</li>
                        <li class="table__list_item">alex-mail@gmail.com</li>
                        <li class="table__list_item">+78124955220 доб. 102</li>
                        <li class="table__list_item">ООО “Рога и копыта”</li>
                        <li class="table__list_item">Сульдин И.Я.</li>
                        <li class="table__list_item table__discount">
                            <input type="number" class="input-discount" min="0" value="15">
                            <input type="number" class="input-discount" min="0" value="10">
                            <button class="btn btn-red">OK</button>
                        </li>
                    </ul>
                    <ul class="table__list">
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item table__discount">
                            <input type="number" class="input-discount" min="0" value="0">
                            <input type="number" class="input-discount" min="0" value="0">
                            <button class="btn btn-red">OK</button>
                        </li>
                    </ul>
                    <ul class="table__list">
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item table__discount">
                            <input type="number" class="input-discount" min="0" value="0">
                            <input type="number" class="input-discount" min="0" value="0">
                            <button class="btn btn-red">OK</button>
                        </li>
                    </ul>
                    <ul class="table__list">
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item table__discount">
                            <input type="number" class="input-discount" min="0" value="0">
                            <input type="number" class="input-discount" min="0" value="0">
                            <button class="btn btn-red">OK</button>
                        </li>
                    </ul>
                    <ul class="table__list">
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item table__discount">
                            <input type="number" class="input-discount" min="0" value="0">
                            <input type="number" class="input-discount" min="0" value="0">
                            <button class="btn btn-red">OK</button>
                        </li>
                    </ul>
                    <ul class="table__list">
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item table__discount">
                            <input type="number" class="input-discount" min="0" value="0">
                            <input type="number" class="input-discount" min="0" value="0">
                            <button class="btn btn-red">OK</button>
                        </li>
                    </ul>
                    <ul class="table__list">
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item table__discount">
                            <input type="number" class="input-discount" min="0" value="0">
                            <input type="number" class="input-discount" min="0" value="0">
                            <button class="btn btn-red">OK</button>
                        </li>
                    </ul>
                    <ul class="table__list">
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item table__discount">
                            <input type="number" class="input-discount" min="0" value="0">
                            <input type="number" class="input-discount" min="0" value="0">
                            <button class="btn btn-red">OK</button>
                        </li>
                    </ul>
                    <ul class="table__list">
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item">Item</li>
                        <li class="table__list_item table__discount">
                            <input type="number" class="input-discount" min="0" value="0">
                            <input type="number" class="input-discount" min="0" value="0">
                            <button class="btn btn-red">OK</button>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.table -->

        </div>
        <!-- /.table__scroll -->

    </div>
    <!-- /.container -->
</div>
<!-- /.clients -->