<a href="#modal-login" class="btn btn-red js-modal-link">Вход в систему</a>

<div class="modal modal__login" id="modal-login">

    <div class="modal__content">
        <div class="modal__close close"></div>

        <div class="title-1">Вход в систему</div>

        <form class="modal__form needs-validation" novalidate>
            <label class="modal__form_group">
                <input type="email" class="modal__form_input" placeholder="E-mail" required>
            </label>
            <label class="modal__form_group">
                <input type="password" class="modal__form_input" placeholder="Пароль" required>
            </label>
            <div class="modal__form_group">
                <button class="btn btn-red w-100">Войти</button>
            </div>
            <div class="modal__login_bot">
                <div class="modal__login_label">Забыли пароль?</div>
                <a href="#" class="link-red underline">Зарегистрироваться</a>
            </div>

        </form>
        <!-- /.modal__form -->
    </div>
    <!-- /.modal__content -->

    <div class="overlay-modal"></div>

</div>
<!-- /.modal -->