<div class="table-page">
    <div class="container">

        <div class="title-1">Коммерческие предложения</div>

        <div class="table__scroll">

            <div class="table">
                <div class="table__head">
                    <ul class="table__list">
                        <li class="table__list_item"><span class="table-arrow"></span> № КП</li>
                        <li class="table__list_item w-200">Название объекта</li>
                        <li class="table__list_item">Документы</li>
                        <li class="table__list_item w-50">Дата</li>
                        <li class="table__list_item"></li>
                        <li class="table__list_item w-50"></li>
                    </ul>
                </div>
                <div class="table__search">
                    <ul class="table__list">
                        <li class="table__list_item">
                            <input type="search">
                            <img src="../../assets/img/icons/table-search.png" alt="" class="table__search_icon">
                        </li>
                        <li class="table__list_item w-200">
                            <input type="search">
                            <img src="../../assets/img/icons/table-search.png" alt="" class="table__search_icon">
                        </li>
                        <li class="table__list_item"></li>
                        <li class="table__list_item w-50">
                            <input type="search">
                            <img src="../../assets/img/icons/table-search.png" alt="" class="table__search_icon">
                        </li>
                        <li class="table__list_item"></li>
                        <li class="table__list_item w-50"></li>
                    </ul>
                </div>
                <div class="table__body">
                    <ul class="table__list">
                        <li class="table__list_item">00009</li>
                        <li class="table__list_item w-200">Поликлиника (Куйбышева, 35)</li>
                        <li class="table__list_item table__links">
                            <a href="#" class="link-red underline">КП</a>
                            <a href="#" class="link-red underline">УПД</a>
                            <a href="#" class="link-red underline">Сертификаты</a>
                        </li>
                        <li class="table__list_item w-50 table__date">08.02.20  15:50</li>
                        <li class="table__list_item">
                            <a href="#" class="btn btn-red btn-outline w-100">Запросить счет</a>
                        </li>
                        <li class="table__list_item w-50">
                            <a href="#" class="btn btn-red w-100">Скачать</a>
                        </li>
                    </ul>
                    <ul class="table__list">
                        <li class="table__list_item">00009</li>
                        <li class="table__list_item w-200">Поликлиника (Куйбышева, 35)</li>
                        <li class="table__list_item table__links">
                            <a href="#" class="link-red underline">КП</a>
                            <a href="#" class="link-red underline">УПД</a>
                            <a href="#" class="link-red underline">Сертификаты</a>
                        </li>
                        <li class="table__list_item w-50 table__date">08.02.20  15:50</li>
                        <li class="table__list_item">
                            <a href="#" class="btn btn-red btn-outline w-100">Запросить счет</a>
                        </li>
                        <li class="table__list_item w-50">
                            <a href="#" class="btn btn-red w-100">Скачать</a>
                        </li>
                    </ul>
                    <ul class="table__list">
                        <li class="table__list_item">00009</li>
                        <li class="table__list_item w-200">Поликлиника (Куйбышева, 35)</li>
                        <li class="table__list_item table__links">
                            <a href="#" class="link-red underline">КП</a>
                            <a href="#" class="link-red underline">УПД</a>
                            <a href="#" class="link-red underline">Сертификаты</a>
                        </li>
                        <li class="table__list_item w-50 table__date">08.02.20  15:50</li>
                        <li class="table__list_item">
                            <a href="#" class="btn btn-red btn-outline w-100">Запросить счет</a>
                        </li>
                        <li class="table__list_item w-50">
                            <a href="#" class="btn btn-red w-100">Скачать</a>
                        </li>
                    </ul>
                    <ul class="table__list">
                        <li class="table__list_item">00009</li>
                        <li class="table__list_item w-200">Поликлиника (Куйбышева, 35)</li>
                        <li class="table__list_item table__links">
                            <a href="#" class="link-red underline">КП</a>
                            <a href="#" class="link-red underline">УПД</a>
                            <a href="#" class="link-red underline">Сертификаты</a>
                        </li>
                        <li class="table__list_item w-50 table__date">08.02.20  15:50</li>
                        <li class="table__list_item">
                            <a href="#" class="btn btn-red btn-outline w-100">Запросить счет</a>
                        </li>
                        <li class="table__list_item w-50">
                            <a href="#" class="btn btn-red w-100">Скачать</a>
                        </li>
                    </ul>
                    <ul class="table__list">
                        <li class="table__list_item">00009</li>
                        <li class="table__list_item w-200">Поликлиника (Куйбышева, 35)</li>
                        <li class="table__list_item table__links">
                            <a href="#" class="link-red underline">КП</a>
                            <a href="#" class="link-red underline">УПД</a>
                            <a href="#" class="link-red underline">Сертификаты</a>
                        </li>
                        <li class="table__list_item w-50 table__date">08.02.20  15:50</li>
                        <li class="table__list_item">
                            <a href="#" class="btn btn-red btn-outline w-100">Запросить счет</a>
                        </li>
                        <li class="table__list_item w-50">
                            <a href="#" class="btn btn-red w-100">Скачать</a>
                        </li>
                    </ul>
                    <ul class="table__list">
                        <li class="table__list_item">00009</li>
                        <li class="table__list_item w-200">Поликлиника (Куйбышева, 35)</li>
                        <li class="table__list_item table__links">
                            <a href="#" class="link-red underline">КП</a>
                            <a href="#" class="link-red underline">УПД</a>
                            <a href="#" class="link-red underline">Сертификаты</a>
                        </li>
                        <li class="table__list_item w-50 table__date">08.02.20  15:50</li>
                        <li class="table__list_item">
                            <a href="#" class="btn btn-red btn-outline w-100">Запросить счет</a>
                        </li>
                        <li class="table__list_item w-50">
                            <a href="#" class="btn btn-red w-100">Скачать</a>
                        </li>
                    </ul>
                    <ul class="table__list">
                        <li class="table__list_item">00009</li>
                        <li class="table__list_item w-200">Поликлиника (Куйбышева, 35)</li>
                        <li class="table__list_item table__links">
                            <a href="#" class="link-red underline">КП</a>
                            <a href="#" class="link-red underline">УПД</a>
                            <a href="#" class="link-red underline">Сертификаты</a>
                        </li>
                        <li class="table__list_item w-50 table__date">08.02.20  15:50</li>
                        <li class="table__list_item">
                            <a href="#" class="btn btn-red btn-outline w-100">Запросить счет</a>
                        </li>
                        <li class="table__list_item w-50">
                            <a href="#" class="btn btn-red w-100">Скачать</a>
                        </li>
                    </ul>
                    <ul class="table__list">
                        <li class="table__list_item">00009</li>
                        <li class="table__list_item w-200">Поликлиника (Куйбышева, 35)</li>
                        <li class="table__list_item table__links">
                            <a href="#" class="link-red underline">КП</a>
                            <a href="#" class="link-red underline">УПД</a>
                            <a href="#" class="link-red underline">Сертификаты</a>
                        </li>
                        <li class="table__list_item w-50 table__date">08.02.20  15:50</li>
                        <li class="table__list_item">
                            <a href="#" class="btn btn-red btn-outline w-100">Запросить счет</a>
                        </li>
                        <li class="table__list_item w-50">
                            <a href="#" class="btn btn-red w-100">Скачать</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.table -->

        </div>
        <!-- /.table__scroll -->

    </div>
    <!-- /.container -->
</div>
<!-- /.clients -->