<div class="table-page">
    <div class="container">

        <div class="title-1">Коммерческие предложения</div>

        <div class="table__scroll">

            <div class="table">
                <div class="table__head">
                    <ul class="table__list">
                        <li class="table__list_item w-50"><span class="table-arrow"></span> № КП</li>
                        <li class="table__list_item">E-mail</li>
                        <li class="table__list_item">Телефон</li>
                        <li class="table__list_item">Клиент</li>
                        <li class="table__list_item">Компания</li>
                        <li class="table__list_item w-50">Дата</li>
                        <li class="table__list_item w-50">Автор</li>
                        <li class="table__list_item w-50"></li>
                    </ul>
                </div>
                <div class="table__search">
                    <ul class="table__list">
                        <li class="table__list_item w-50">
                            <input type="search">
                            <img src="assets/img/icons/table-search.png" alt="" class="table__search_icon">
                        </li>
                        <li class="table__list_item">
                            <input type="search">
                            <img src="assets/img/icons/table-search.png" alt="" class="table__search_icon">
                        </li>
                        <li class="table__list_item">
                            <input type="search">
                            <img src="assets/img/icons/table-search.png" alt="" class="table__search_icon">
                        </li>
                        <li class="table__list_item">
                            <input type="search">
                            <img src="assets/img/icons/table-search.png" alt="" class="table__search_icon">
                        </li>
                        <li class="table__list_item">
                            <input type="search">
                            <img src="assets/img/icons/table-search.png" alt="" class="table__search_icon">
                        </li>
                        <li class="table__list_item w-50">
                            <input type="search">
                            <img src="assets/img/icons/table-search.png" alt="" class="table__search_icon">
                        </li>
                        <li class="table__list_item w-50">
                            <input type="search">
                            <img src="assets/img/icons/table-search.png" alt="" class="table__search_icon">
                        </li>
                        <li class="table__list_item w-50"></li>
                    </ul>
                </div>
                <div class="table__body">
                    <ul class="table__list">
                        <li class="table__list_item w-50">00009</li>
                        <li class="table__list_item">pmavto@pmavtomatika.ru</li>
                        <li class="table__list_item">+78124955220 доб. 102</li>
                        <li class="table__list_item">Александров И.Е.</li>
                        <li class="table__list_item">ООО “Рога и копыта”</li>
                        <li class="table__list_item w-50 table__date">08.02.20  15:50</li>
                        <li class="table__list_item w-50">Сульдин И.Я.</li>
                        <li class="table__list_item w-50">
                            <a href="#" class="btn btn-red w-100">Скачать</a>
                        </li>
                    </ul>
                    <ul class="table__list">
                        <li class="table__list_item w-50">00009</li>
                        <li class="table__list_item">pmavto@pmavtomatika.ru</li>
                        <li class="table__list_item">+78124955220 доб. 102</li>
                        <li class="table__list_item">Александров И.Е.</li>
                        <li class="table__list_item">ООО “Рога и копыта”</li>
                        <li class="table__list_item w-50 table__date">08.02.20  15:50</li>
                        <li class="table__list_item w-50">Сульдин И.Я.</li>
                        <li class="table__list_item w-50">
                            <a href="#" class="btn btn-red w-100">Скачать</a>
                        </li>
                    </ul>
                    <ul class="table__list">
                        <li class="table__list_item w-50">00009</li>
                        <li class="table__list_item">pmavto@pmavtomatika.ru</li>
                        <li class="table__list_item">+78124955220 доб. 102</li>
                        <li class="table__list_item">Александров И.Е.</li>
                        <li class="table__list_item">ООО “Рога и копыта”</li>
                        <li class="table__list_item w-50 table__date">08.02.20  15:50</li>
                        <li class="table__list_item w-50">Сульдин И.Я.</li>
                        <li class="table__list_item w-50">
                            <a href="#" class="btn btn-red w-100">Скачать</a>
                        </li>
                    </ul>
                    <ul class="table__list">
                        <li class="table__list_item w-50">00009</li>
                        <li class="table__list_item">pmavto@pmavtomatika.ru</li>
                        <li class="table__list_item">+78124955220 доб. 102</li>
                        <li class="table__list_item">Александров И.Е.</li>
                        <li class="table__list_item">ООО “Рога и копыта”</li>
                        <li class="table__list_item w-50 table__date">08.02.20  15:50</li>
                        <li class="table__list_item w-50">Сульдин И.Я.</li>
                        <li class="table__list_item w-50">
                            <a href="#" class="btn btn-red w-100">Скачать</a>
                        </li>
                    </ul>
                    <ul class="table__list">
                        <li class="table__list_item w-50">00009</li>
                        <li class="table__list_item">pmavto@pmavtomatika.ru</li>
                        <li class="table__list_item">+78124955220 доб. 102</li>
                        <li class="table__list_item">Александров И.Е.</li>
                        <li class="table__list_item">ООО “Рога и копыта”</li>
                        <li class="table__list_item w-50 table__date">08.02.20  15:50</li>
                        <li class="table__list_item w-50">Сульдин И.Я.</li>
                        <li class="table__list_item w-50">
                            <a href="#" class="btn btn-red w-100">Скачать</a>
                        </li>
                    </ul>
                    <ul class="table__list">
                        <li class="table__list_item w-50">00009</li>
                        <li class="table__list_item">pmavto@pmavtomatika.ru</li>
                        <li class="table__list_item">+78124955220 доб. 102</li>
                        <li class="table__list_item">Александров И.Е.</li>
                        <li class="table__list_item">ООО “Рога и копыта”</li>
                        <li class="table__list_item w-50 table__date">08.02.20  15:50</li>
                        <li class="table__list_item w-50">Сульдин И.Я.</li>
                        <li class="table__list_item w-50">
                            <a href="#" class="btn btn-red w-100">Скачать</a>
                        </li>
                    </ul>
                    <ul class="table__list">
                        <li class="table__list_item w-50">00009</li>
                        <li class="table__list_item">pmavto@pmavtomatika.ru</li>
                        <li class="table__list_item">+78124955220 доб. 102</li>
                        <li class="table__list_item">Александров И.Е.</li>
                        <li class="table__list_item">ООО “Рога и копыта”</li>
                        <li class="table__list_item w-50 table__date">08.02.20  15:50</li>
                        <li class="table__list_item w-50">Сульдин И.Я.</li>
                        <li class="table__list_item w-50">
                            <a href="#" class="btn btn-red w-100">Скачать</a>
                        </li>
                    </ul>
                    <ul class="table__list">
                        <li class="table__list_item w-50">00009</li>
                        <li class="table__list_item">pmavto@pmavtomatika.ru</li>
                        <li class="table__list_item">+78124955220 доб. 102</li>
                        <li class="table__list_item">Александров И.Е.</li>
                        <li class="table__list_item">ООО “Рога и копыта”</li>
                        <li class="table__list_item w-50 table__date">08.02.20  15:50</li>
                        <li class="table__list_item w-50">Сульдин И.Я.</li>
                        <li class="table__list_item w-50">
                            <a href="#" class="btn btn-red w-100">Скачать</a>
                        </li>
                    </ul>
                    <ul class="table__list">
                        <li class="table__list_item w-50">00009</li>
                        <li class="table__list_item">pmavto@pmavtomatika.ru</li>
                        <li class="table__list_item">+78124955220 доб. 102</li>
                        <li class="table__list_item">Александров И.Е.</li>
                        <li class="table__list_item">ООО “Рога и копыта”</li>
                        <li class="table__list_item w-50 table__date">08.02.20  15:50</li>
                        <li class="table__list_item w-50">Сульдин И.Я.</li>
                        <li class="table__list_item w-50">
                            <a href="#" class="btn btn-red w-100">Скачать</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.table -->

        </div>
        <!-- /.table__scroll -->

    </div>
    <!-- /.container -->
</div>
<!-- /.clients -->