<div class="breadcrumbs">
    <div class="container">
        <ul class="breadcrumbs__list">
            <li class="breadcrumbs__list_item">
                <a href="#" class="breadcrumbs__list_item_link">Вентиляция</a>
            </li>
            <li class="breadcrumbs__list_item">
                <a href="#" class="breadcrumbs__list_item_link">Щиты управления</a>
            </li>
            <li class="breadcrumbs__list_item">
                Щит управления с электрокалорифером ЩУВ Э1330-ПЧ
            </li>
        </ul>
        <!-- /.breadcrumbs__list -->
    </div>
    <!-- /.container -->
</div>
<!-- /.breadcrumbs -->