.footer {
  padding: 30px 0 25px;
  background-color: $blue;
}

.footer__grid {
  display: -ms-grid;
  -ms-grid-columns: 1fr 1fr 2fr;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.footer__grid_item {
  &:nth-child(1) {
    -ms-grid-column: 1;
  }
  &:nth-child(2) {
    -ms-grid-column: 2;
  }
  &:nth-child(3) {
    -ms-grid-column: 3;
  }
}

.footer__grid_title {
  margin-bottom: 5px;
  color: $white;
}

.footer__grid_list {}

.footer__grid_list_item {
  margin-bottom: 5px;
  color: $white;
}

.footer__grid_list_item_link {
  color: $white;
  &:hover {
    color: $red;
  }
}

.footer__contacts {
  display: -ms-grid;
  -ms-grid-columns: 1fr 1fr;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .footer__grid_list_item {
    &:first-child {
      -ms-grid-column: 1;
      -ms-grid-row-span: 2;
      grid-row-start: 1;
      grid-row-end: 3;
      line-height: 17px;
    }
    &:nth-child(2) {
      -ms-grid-column: 2;
      -ms-grid-row: 1;
    }
    &:nth-child(3) {
      -ms-grid-column: 2;
      -ms-grid-row: 2;
    }
  }
}