<div class="footer">
    <div class="container">

        <div class="footer__grid">
            <div class="footer__grid_item">
                <ul class="footer__grid_list">
                    <li class="footer__grid_list_item">
                        <a href="#" class="footer__grid_list_item_link">Общеобменная вентиляция</a>
                    </li>
                    <li class="footer__grid_list_item">
                        <a href="#" class="footer__grid_list_item_link">Тепловые пункты</a>
                    </li>
                    <li class="footer__grid_list_item">
                        <a href="#" class="footer__grid_list_item_link">Противопожарная вентиляция</a>
                    </li>
                </ul>
            </div>
            <!-- /.footer__grid_item -->
            <div class="footer__grid_item">
                <ul class="footer__grid_list">
                    <li class="footer__grid_list_item">
                        <a href="#" class="footer__grid_list_item_link">О компании</a>
                    </li>
                    <li class="footer__grid_list_item">
                        <a href="#" class="footer__grid_list_item_link">Доставка и оплата</a>
                    </li>
                    <li class="footer__grid_list_item">
                        <a href="#" class="footer__grid_list_item_link">Партнёрам</a>
                    </li>
                </ul>
            </div>
            <!-- /.footer__grid_item -->
            <div class="footer__grid_item">
                <div class="footer__grid_title">Контакты</div>
                <ul class="footer__grid_list footer__contacts">
                    <li class="footer__grid_list_item">
                        196084 Санкт-Петербург, ул. Парковая, 6А (ст.м. “Московские ворота”)
                    </li>
                    <li class="footer__grid_list_item">
                        <a href="tel:+78129850550" class="footer__grid_list_item_link">+7 (812) 985-05-50</a>
                    </li>
                    <li class="footer__grid_list_item">
                        <a href="mailto:info@gkavtomatika.ru" class="footer__grid_list_item_link">info@gkavtomatika.ru</a>
                    </li>
                </ul>
            </div>
            <!-- /.footer__grid_item -->
        </div>
        <!-- /.footer__grid -->

    </div>
    <!-- /.container -->
</div>
<!-- /.footer -->