<div class="mobile__menu">
    <div class="mobile__menu_filter js-menu-link" data-target="#filter">Фильтры и товары</div>
    <div class="mobile__menu_search">
        <input type="search" placeholder="Поиск по товарам" class="mobile__menu_search_input">
        <button class="mobile__menu_search_btn btn btn-blue">Найти</button>
        <div class="mobile__menu_search_icon">
            <img src="assets/img/icons/search-gray.png" alt="">
        </div>
        <div class="mobile__menu_search_close close"></div>
    </div>
    <div class="mobile__menu_basket js-menu-link" data-target="#position">
        <img src="assets/img/icons/basket.png" alt="">
        <span class="mobile__menu_basket_value">25</span>
    </div>
</div>
<!-- /.mobile__menu -->