<div class="commodity">
    <div class="container">

        <div class="commodity__grid">
            <div class="commodity__img">
                <img src="../../assets/img/commodity.png" alt="">
            </div>
            <!-- /.commodity__img -->
            <div class="commodity__content">
                <div class="commodity__title">
                    Щит управления приточно-вытяжной вентиляцией с электрическим калорифером ЩУВ Э130-ПН115-ВН115
                </div>
                <ul class="commodity__content_list">
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Вентилятор</div>
                        <div class="commodity__content_list_item_desc">~220В, до 2,2 кВт</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Тип пуска</div>
                        <div class="commodity__content_list_item_desc">преобразователь частоты</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Калорифер</div>
                        <div class="commodity__content_list_item_desc">электрический ~380В</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Мощность калорифера (в Квт)</div>
                        <div class="commodity__content_list_item_desc">до 15 кВт</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Вентилятор</div>
                        <div class="commodity__content_list_item_desc">~220В, до 2,2 кВт</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Тип пуска</div>
                        <div class="commodity__content_list_item_desc">преобразователь частоты</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Калорифер</div>
                        <div class="commodity__content_list_item_desc">электрический ~380В</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Вентилятор</div>
                        <div class="commodity__content_list_item_desc">~220В, до 2,2 кВт</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Тип пуска</div>
                        <div class="commodity__content_list_item_desc">преобразователь частоты</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Калорифер</div>
                        <div class="commodity__content_list_item_desc">электрический ~380В</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Тип пуска</div>
                        <div class="commodity__content_list_item_desc">преобразователь частоты</div>
                    </li>
                </ul>
                <ul class="commodity__content_list dropdown-content" id="commodity-content-list">
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Вентилятор</div>
                        <div class="commodity__content_list_item_desc">~220В, до 2,2 кВт</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Тип пуска</div>
                        <div class="commodity__content_list_item_desc">преобразователь частоты</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Калорифер</div>
                        <div class="commodity__content_list_item_desc">электрический ~380В</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Мощность калорифера (в Квт)</div>
                        <div class="commodity__content_list_item_desc">до 15 кВт</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Вентилятор</div>
                        <div class="commodity__content_list_item_desc">~220В, до 2,2 кВт</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Тип пуска</div>
                        <div class="commodity__content_list_item_desc">преобразователь частоты</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Калорифер</div>
                        <div class="commodity__content_list_item_desc">электрический ~380В</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Вентилятор</div>
                        <div class="commodity__content_list_item_desc">~220В, до 2,2 кВт</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Тип пуска</div>
                        <div class="commodity__content_list_item_desc">преобразователь частоты</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Калорифер</div>
                        <div class="commodity__content_list_item_desc">электрический ~380В</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Тип пуска</div>
                        <div class="commodity__content_list_item_desc">преобразователь частоты</div>
                    </li>
                </ul>
                <a href="#commodity-content-list" class="view-all dropdown-link">Развернуть</a>
                <!-- /.commodity__content_list -->
            </div>
            <!-- /.commodity__content -->
            <div class="commodity__info">
                <div class="commodity__info_card">
                    <div class="commodity__info_card_price">19 900 р.</div>
                    <div class="commodity__info_card_desc">Цена с учётом вашей скидки</div>
                    <div class="commodity__info_card_btn">
                        <button class="btn btn-red w-100">Добавить в заказ</button>
                    </div>
                </div>
                <ul class="commodity__info_list">
                    <li class="commodity__info_list_item">
                        <div class="commodity__info_list_item_icon">
                            <img src="../../assets/img/icons/commodity-info-icon-1.png" alt="">
                        </div>
                        <div class="commodity__info_list_item_text">Гарантия 2 года</div>
                    </li>
                    <li class="commodity__info_list_item">
                        <div class="commodity__info_list_item_icon">
                            <img src="../../assets/img/icons/commodity-info-icon-2.png" alt="">
                        </div>
                        <div class="commodity__info_list_item_text">Сертифицированная продукция</div>
                    </li>
                    <li class="commodity__info_list_item">
                        <div class="commodity__info_list_item_icon">
                            <img src="../../assets/img/icons/commodity-info-icon-3.png" alt="">
                        </div>
                        <div class="commodity__info_list_item_text">Техподдержка</div>
                    </li>
                </ul>
            </div>
            <!-- /.commodity__info -->
        </div>
        <!-- /.commodity__grid -->

    </div>
    <!-- /.container -->
</div>
<!-- /.commodity -->