<div class="commodity">
    <div class="container">

        <div class="commodity__grid">
            <div class="commodity__img">
                <img src="../../assets/img/commodity.png" alt="">
            </div>
            <!-- /.commodity__img -->
            <div class="commodity__content">
                <div class="commodity__title">
                    Щит управления приточно-вытяжной вентиляцией с электрическим калорифером ЩУВ Э130-ПН115-ВН115
                </div>
                <ul class="commodity__content_list">
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Вентилятор</div>
                        <div class="commodity__content_list_item_desc">~220В, до 2,2 кВт</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Тип пуска</div>
                        <div class="commodity__content_list_item_desc">преобразователь частоты</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Калорифер</div>
                        <div class="commodity__content_list_item_desc">электрический ~380В</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Мощность калорифера (в Квт)</div>
                        <div class="commodity__content_list_item_desc">до 15 кВт</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Вентилятор</div>
                        <div class="commodity__content_list_item_desc">~220В, до 2,2 кВт</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Тип пуска</div>
                        <div class="commodity__content_list_item_desc">преобразователь частоты</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Калорифер</div>
                        <div class="commodity__content_list_item_desc">электрический ~380В</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Вентилятор</div>
                        <div class="commodity__content_list_item_desc">~220В, до 2,2 кВт</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Тип пуска</div>
                        <div class="commodity__content_list_item_desc">преобразователь частоты</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Калорифер</div>
                        <div class="commodity__content_list_item_desc">электрический ~380В</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Тип пуска</div>
                        <div class="commodity__content_list_item_desc">преобразователь частоты</div>
                    </li>
                </ul>
                <ul class="commodity__content_list dropdown-content" id="commodity-content-list">
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Вентилятор</div>
                        <div class="commodity__content_list_item_desc">~220В, до 2,2 кВт</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Тип пуска</div>
                        <div class="commodity__content_list_item_desc">преобразователь частоты</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Калорифер</div>
                        <div class="commodity__content_list_item_desc">электрический ~380В</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Мощность калорифера (в Квт)</div>
                        <div class="commodity__content_list_item_desc">до 15 кВт</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Вентилятор</div>
                        <div class="commodity__content_list_item_desc">~220В, до 2,2 кВт</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Тип пуска</div>
                        <div class="commodity__content_list_item_desc">преобразователь частоты</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Калорифер</div>
                        <div class="commodity__content_list_item_desc">электрический ~380В</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Вентилятор</div>
                        <div class="commodity__content_list_item_desc">~220В, до 2,2 кВт</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Тип пуска</div>
                        <div class="commodity__content_list_item_desc">преобразователь частоты</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Калорифер</div>
                        <div class="commodity__content_list_item_desc">электрический ~380В</div>
                    </li>
                    <li class="commodity__content_list_item">
                        <div class="commodity__content_list_item_label">Тип пуска</div>
                        <div class="commodity__content_list_item_desc">преобразователь частоты</div>
                    </li>
                </ul>
                <a href="#commodity-content-list" class="view-all dropdown-link">Развернуть</a>
                <!-- /.commodity__content_list -->
            </div>
            <!-- /.commodity__content -->
            <div class="commodity__info">
                <div class="commodity__info_card">
                    <div class="commodity__info_card_price">19 900 р.</div>
                    <div class="commodity__info_card_desc">Цена с учётом вашей скидки</div>
                    <div class="commodity__info_card_btn">
                        <button class="btn btn-red w-100">Добавить в заказ</button>
                    </div>
                </div>
                <ul class="commodity__info_list">
                    <li class="commodity__info_list_item">
                        <div class="commodity__info_list_item_icon">
                            <img src="../../assets/img/icons/commodity-info-icon-1.png" alt="">
                        </div>
                        <div class="commodity__info_list_item_text">Гарантия 2 года</div>
                    </li>
                    <li class="commodity__info_list_item">
                        <div class="commodity__info_list_item_icon">
                            <img src="../../assets/img/icons/commodity-info-icon-2.png" alt="">
                        </div>
                        <div class="commodity__info_list_item_text">Сертифицированная продукция</div>
                    </li>
                    <li class="commodity__info_list_item">
                        <div class="commodity__info_list_item_icon">
                            <img src="../../assets/img/icons/commodity-info-icon-3.png" alt="">
                        </div>
                        <div class="commodity__info_list_item_text">Техподдержка</div>
                    </li>
                </ul>
            </div>
            <!-- /.commodity__info -->
        </div>
        <!-- /.commodity__grid -->

        <div class="commodity__tab">

            <ul class="tab commodity__tabs commodity__tab-1">
                <li>
                    <a href="#commodity-content-tab-1" data-target=".commodity__tab-1"
                       class="tabs-link active">Описание</a>
                </li>
                <li>
                    <a href="#commodity-content-tab-2" data-target=".commodity__tab-1" class="tabs-link">Схемы</a>
                </li>
                <li>
                    <a href="#commodity-content-tab-3" data-target=".commodity__tab-1" class="tabs-link">Инструкции</a>
                </li>
                <li>
                    <a href="#commodity-content-tab-4" data-target=".commodity__tab-1" class="tabs-link">Сертификаты</a>
                </li>
            </ul>

            <div class="tab-content commodity__content commodity__tab-1">
                <div id="commodity-content-tab-1" class="tabs-content active">
                    <div class="commodity__tab_title">Краткое описание алгоритмов</div>
                    <ul class="commodity__tab_list">
                        <li class="commodity__tab_list_item">
                            возможно многоточечное синхронное управление установкой. Два COM-порта позволяют управлять установкой любым способом. Например управление с АРМ диспетчера (SCADA) и с дистанционной панели управления Z033;
                        </li>
                        <li class="commodity__tab_list_item">
                            поддержка любой системы диспетчеризации и визуализации. В программу заложены сетевые переменные основных параметров, необходимо только "обратиться" к ним по свободному COM-порту (RS-485/ModBus RTU);
                        </li>
                        <li class="commodity__tab_list_item">
                            плавное управление мощностью нагрева от 0 % до 100 % позволяет максимально точно поддерживать заданную уставку температуры;
                        </li>
                        <li class="commodity__tab_list_item">
                            индивидуальное управление с помощью пульта дистанционного управления с ЖК дисплеем с белой подсветкой. При этом доступен широкий набор конфигурируемых параметров, которые позволяют индивидуально настроить работу каждой установки;
                        </li>
                        <li class="commodity__tab_list_item">
                            энергонезависимые часы реального времени и многофункциональный таймер, который поддерживает до 9 шагов изменений параметров работы установки в течение дня;
                        </li>
                        <li class="commodity__tab_list_item">
                            современные алгоритмы управления в режиме нагрева (Зима) и вентиляции (Лето) с возможностью автоматического перехода между ними по датчику.
                        </li>
                    </ul>
                    <div class="commodity__tab_text">
                        На панель выводятся коды аварий. В инструкции к шкафу описана расшифровка кода с пояснениями
                        возможных причин возникновения и способов их устранения; защита установки от перегрева
                        калорифера и переохлаждения приточного воздуха; если условия работы нагревателя неблагоприятны
                        (слишком низкая температура наружного воздуха), то будет вырабатываться уменьшающее воздействие
                        на пользовательскую скорость до тех пор, пока условия работы нагревателя не нормализуются. Если
                        в процессе работы не будет достигнута температурная уставка при минимально возможной скорости ЭД
                        приточного вентилятора и полной мощности нагревателя, то через 250 сек будет сформирован
                        аварийный сигнал, указывающий на неисправность теплообменника.
                    </div>
                </div>
                <div id="commodity-content-tab-2" class="tabs-content">
                    <div class="commodity__tab_title">Схемы</div>
                    <ul class="commodity__tab_list">
                        <li class="commodity__tab_list_item">
                            возможно многоточечное синхронное управление установкой. Два COM-порта позволяют управлять установкой любым способом. Например управление с АРМ диспетчера (SCADA) и с дистанционной панели управления Z033;
                        </li>
                        <li class="commodity__tab_list_item">
                            поддержка любой системы диспетчеризации и визуализации. В программу заложены сетевые переменные основных параметров, необходимо только "обратиться" к ним по свободному COM-порту (RS-485/ModBus RTU);
                        </li>
                        <li class="commodity__tab_list_item">
                            плавное управление мощностью нагрева от 0 % до 100 % позволяет максимально точно поддерживать заданную уставку температуры;
                        </li>
                        <li class="commodity__tab_list_item">
                            индивидуальное управление с помощью пульта дистанционного управления с ЖК дисплеем с белой подсветкой. При этом доступен широкий набор конфигурируемых параметров, которые позволяют индивидуально настроить работу каждой установки;
                        </li>
                        <li class="commodity__tab_list_item">
                            энергонезависимые часы реального времени и многофункциональный таймер, который поддерживает до 9 шагов изменений параметров работы установки в течение дня;
                        </li>
                        <li class="commodity__tab_list_item">
                            современные алгоритмы управления в режиме нагрева (Зима) и вентиляции (Лето) с возможностью автоматического перехода между ними по датчику.
                        </li>
                    </ul>
                    <div class="commodity__tab_text">
                        На панель выводятся коды аварий. В инструкции к шкафу описана расшифровка кода с пояснениями
                        возможных причин возникновения и способов их устранения; защита установки от перегрева
                        калорифера и переохлаждения приточного воздуха; если условия работы нагревателя неблагоприятны
                        (слишком низкая температура наружного воздуха), то будет вырабатываться уменьшающее воздействие
                        на пользовательскую скорость до тех пор, пока условия работы нагревателя не нормализуются. Если
                        в процессе работы не будет достигнута температурная уставка при минимально возможной скорости ЭД
                        приточного вентилятора и полной мощности нагревателя, то через 250 сек будет сформирован
                        аварийный сигнал, указывающий на неисправность теплообменника.
                    </div>
                </div>
                <div id="commodity-content-tab-3" class="tabs-content">
                    <div class="commodity__tab_title">Инструкции</div>
                    <ul class="commodity__tab_list">
                        <li class="commodity__tab_list_item">
                            возможно многоточечное синхронное управление установкой. Два COM-порта позволяют управлять установкой любым способом. Например управление с АРМ диспетчера (SCADA) и с дистанционной панели управления Z033;
                        </li>
                        <li class="commodity__tab_list_item">
                            поддержка любой системы диспетчеризации и визуализации. В программу заложены сетевые переменные основных параметров, необходимо только "обратиться" к ним по свободному COM-порту (RS-485/ModBus RTU);
                        </li>
                        <li class="commodity__tab_list_item">
                            плавное управление мощностью нагрева от 0 % до 100 % позволяет максимально точно поддерживать заданную уставку температуры;
                        </li>
                        <li class="commodity__tab_list_item">
                            индивидуальное управление с помощью пульта дистанционного управления с ЖК дисплеем с белой подсветкой. При этом доступен широкий набор конфигурируемых параметров, которые позволяют индивидуально настроить работу каждой установки;
                        </li>
                        <li class="commodity__tab_list_item">
                            энергонезависимые часы реального времени и многофункциональный таймер, который поддерживает до 9 шагов изменений параметров работы установки в течение дня;
                        </li>
                        <li class="commodity__tab_list_item">
                            современные алгоритмы управления в режиме нагрева (Зима) и вентиляции (Лето) с возможностью автоматического перехода между ними по датчику.
                        </li>
                    </ul>
                    <div class="commodity__tab_text">
                        На панель выводятся коды аварий. В инструкции к шкафу описана расшифровка кода с пояснениями
                        возможных причин возникновения и способов их устранения; защита установки от перегрева
                        калорифера и переохлаждения приточного воздуха; если условия работы нагревателя неблагоприятны
                        (слишком низкая температура наружного воздуха), то будет вырабатываться уменьшающее воздействие
                        на пользовательскую скорость до тех пор, пока условия работы нагревателя не нормализуются. Если
                        в процессе работы не будет достигнута температурная уставка при минимально возможной скорости ЭД
                        приточного вентилятора и полной мощности нагревателя, то через 250 сек будет сформирован
                        аварийный сигнал, указывающий на неисправность теплообменника.
                    </div>
                </div>
                <div id="commodity-content-tab-4" class="tabs-content">
                    <div class="commodity__tab_title">Сертификаты</div>
                    <ul class="commodity__tab_list">
                        <li class="commodity__tab_list_item">
                            возможно многоточечное синхронное управление установкой. Два COM-порта позволяют управлять установкой любым способом. Например управление с АРМ диспетчера (SCADA) и с дистанционной панели управления Z033;
                        </li>
                        <li class="commodity__tab_list_item">
                            поддержка любой системы диспетчеризации и визуализации. В программу заложены сетевые переменные основных параметров, необходимо только "обратиться" к ним по свободному COM-порту (RS-485/ModBus RTU);
                        </li>
                        <li class="commodity__tab_list_item">
                            плавное управление мощностью нагрева от 0 % до 100 % позволяет максимально точно поддерживать заданную уставку температуры;
                        </li>
                        <li class="commodity__tab_list_item">
                            индивидуальное управление с помощью пульта дистанционного управления с ЖК дисплеем с белой подсветкой. При этом доступен широкий набор конфигурируемых параметров, которые позволяют индивидуально настроить работу каждой установки;
                        </li>
                        <li class="commodity__tab_list_item">
                            энергонезависимые часы реального времени и многофункциональный таймер, который поддерживает до 9 шагов изменений параметров работы установки в течение дня;
                        </li>
                        <li class="commodity__tab_list_item">
                            современные алгоритмы управления в режиме нагрева (Зима) и вентиляции (Лето) с возможностью автоматического перехода между ними по датчику.
                        </li>
                    </ul>
                    <div class="commodity__tab_text">
                        На панель выводятся коды аварий. В инструкции к шкафу описана расшифровка кода с пояснениями
                        возможных причин возникновения и способов их устранения; защита установки от перегрева
                        калорифера и переохлаждения приточного воздуха; если условия работы нагревателя неблагоприятны
                        (слишком низкая температура наружного воздуха), то будет вырабатываться уменьшающее воздействие
                        на пользовательскую скорость до тех пор, пока условия работы нагревателя не нормализуются. Если
                        в процессе работы не будет достигнута температурная уставка при минимально возможной скорости ЭД
                        приточного вентилятора и полной мощности нагревателя, то через 250 сек будет сформирован
                        аварийный сигнал, указывающий на неисправность теплообменника.
                    </div>
                </div>
            </div>

        </div>
        <!-- /.commodity__tab -->

    </div>
    <!-- /.container -->
</div>
<!-- /.commodity -->