<a href="#modal-thank-registration" class="btn btn-red js-modal-link">Спасибо за пользование сервисом!</a>

<div class="modal modal__thank modal__thank-registration" id="modal-thank-registration">

    <div class="modal__content">
        <div class="modal__close close"></div>
        <div class="title-1">Спасибо за пользование сервисом!</div>
        <div class="modal__thank_subtitle">
            анные отправлены в бухгалтерию. Вам отправлено коммерческое предложение, по которому в ближайшее время на вашу почту <br>
            <a class="link-red underline" href="mailto:klient@priner-klient.ru"><i>klient@priner-klient.ru</i></a> <br>
            будет отправлен счёт.
        </div>
        <div class="modal__form_title">Если возникнут вопросы</div>
        <ul class="modal__thank_list">
            <li class="modal__thank_list_item">
                <span>></span>
                звоните по номеру <b>+7 (812) 985-05-50</b>
            </li>
            <li class="modal__thank_list_item">
                <span>></span>
                пишите в <b>WhatsApp +7 (967) 977-42-27</b>
            </li>
            <li class="modal__thank_list_item">
                <span>></span>
                пишите на почту <b>info@gkavtomatika.ru</b>
            </li>
        </ul>
    </div>
    <!-- /.modal__content -->

    <div class="overlay-modal"></div>

</div>
<!-- /.modal -->