<a href="#modal-add-organization" class="btn btn-red js-modal-link">Добавить организацию</a>

<div class="modal modal__add-organization" id="modal-add-organization">

    <div class="modal__content">
        <div class="modal__close close"></div>

        <div class="title-1">Добавить новую организацию</div>

        <form class="modal__form needs-validation" novalidate>
            <div class="modal__w-50">
                <label class="modal__form_group">
                    <input type="text" class="modal__form_input" placeholder="Название организации" required>
                </label>
                <div class="modal__form_group">
                    <label class="modal__form_check">
                        <input type="checkbox" class="check-input" checked>
                        <span class="check-box"></span>
                        <span class="check-label">Использовать как организацию по умолчанию</span>
                    </label>
                </div>
                <label class="modal__form_group">
                    <input type="text" class="modal__form_input" placeholder="ИНН организации" required>
                </label>
                <label class="modal__form_group">
                    <select class="modal__form_select">
                        <option value="Сфера деятельности">Сфера деятельности</option>
                        <option value="Сфера деятельности">Сфера деятельности</option>
                        <option value="Сфера деятельности">Сфера деятельности</option>
                        <option value="Сфера деятельности">Сфера деятельности</option>
                    </select>
                </label>
                <label class="modal__form_group">
                    <input type="text" class="modal__form_input" placeholder="БИК" required>
                </label>
                <label class="modal__form_group">
                    <input type="text" class="modal__form_input" placeholder="Расчётный счёт" required>
                </label>
            </div>
            <label class="modal__form_group">
                <input type="text" class="modal__form_input" placeholder="Юридический адрес" required>
            </label>
            <label class="modal__form_group">
                <input type="text" class="modal__form_input" placeholder="Фактический адрес" required>
            </label>
            <div class="modal__w-50">
                <div class="modal__form_group">
                    <label class="modal__form_check">
                        <input type="checkbox" class="check-input" required checked>
                        <span class="check-box"></span>
                        <span class="check-label">Я даю согласие на обработку персональных данных</span>
                    </label>
                </div>
                <div class="modal__form_group">
                    <button class="btn btn-red w-100">Сохранить изменения</button>
                </div>
            </div>
        </form>
        <!-- /.modal__form -->
    </div>
    <!-- /.modal__content -->

    <div class="overlay-modal"></div>

</div>
<!-- /.modal -->