<a href="#modal-catalog" class="btn btn-red js-modal-link">Каталог товаров</a>

<div class="modal modal__catalog" id="modal-catalog">

    <div class="modal__content">

        <div class="modal__close close"></div>

        <div class="title-1">Преобразователи частоты</div>

        <ul class="modal__catalog_list">
            <li class="modal__catalog_list_item">
                <div class="modal__catalog_list_item_img"></div>
                <div class="modal__catalog_list_item_info">
                    <div class="modal__catalog_list_item_info_title">
                        Преобразователь частоты ESQ-210-4T-2,2К (2,2 кВт; 3 х 380 В) 220/4
                        210-4T-2,2К
                    </div>
                    <div class="modal__catalog_list_item_info_price">17 780 р.</div>
                </div>
                <div class="modal__catalog_list_item_count">
                    <input type="number" class="input-discount" min="1" value="1">
                </div>
                <div class="modal__catalog_list_item_buttons">
                    <button class="btn btn-red w-100">Добавить в КП</button>
                    <a href="#" class="btn link-gray underline">Добавить и закрыть</a>
                </div>
            </li>
            <li class="modal__catalog_list_item">
                <div class="modal__catalog_list_item_img"></div>
                <div class="modal__catalog_list_item_info">
                    <div class="modal__catalog_list_item_info_title">
                        Преобразователь частоты ESQ-210-4T-2,2К (2,2 кВт; 3 х 380 В) 220/4
                        210-4T-2,2К
                    </div>
                    <div class="modal__catalog_list_item_info_price">17 780 р.</div>
                </div>
                <div class="modal__catalog_list_item_count">
                    <input type="number" class="input-discount" min="1" value="1">
                </div>
                <div class="modal__catalog_list_item_buttons">
                    <button class="btn btn-red w-100">Добавить в КП</button>
                    <a href="#" class="btn link-gray underline">Добавить и закрыть</a>
                </div>
            </li>
            <li class="modal__catalog_list_item">
                <div class="modal__catalog_list_item_img"></div>
                <div class="modal__catalog_list_item_info">
                    <div class="modal__catalog_list_item_info_title">
                        Преобразователь частоты ESQ-210-4T-2,2К (2,2 кВт; 3 х 380 В) 220/4
                        210-4T-2,2К
                    </div>
                    <div class="modal__catalog_list_item_info_price">17 780 р.</div>
                </div>
                <div class="modal__catalog_list_item_count">
                    <input type="number" class="input-discount" min="1" value="1">
                </div>
                <div class="modal__catalog_list_item_buttons">
                    <button class="btn btn-red w-100">Добавить в КП</button>
                    <a href="#" class="btn link-gray underline">Добавить и закрыть</a>
                </div>
            </li>
            <li class="modal__catalog_list_item">
                <div class="modal__catalog_list_item_img"></div>
                <div class="modal__catalog_list_item_info">
                    <div class="modal__catalog_list_item_info_title">
                        Преобразователь частоты ESQ-210-4T-2,2К (2,2 кВт; 3 х 380 В) 220/4
                        210-4T-2,2К
                    </div>
                    <div class="modal__catalog_list_item_info_price">17 780 р.</div>
                </div>
                <div class="modal__catalog_list_item_count">
                    <input type="number" class="input-discount" min="1" value="1">
                </div>
                <div class="modal__catalog_list_item_buttons">
                    <button class="btn btn-red w-100">Добавить в КП</button>
                    <a href="#" class="btn link-gray underline">Добавить и закрыть</a>
                </div>
            </li>
        </ul>
        <!-- /.modal__catalog_list -->

    </div>
    <!-- /.modal__content -->

    <div class="overlay-modal"></div>

</div>
<!-- /.modal -->