@media (max-width: 767.98px) {
  .modal__offer-manager_block {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    .modal__form_title {
      margin-bottom: 5px;
      padding-right: 0;
    }
    .modal__form_group {
      -ms-grid-column: 1;
      -ms-grid-row: 2;
    }
  }
}