<a href="#modal-offer-manager" class="btn btn-red js-modal-link">Отправить коммерческое предложение</a>

<div class="modal modal__offer-manager" id="modal-offer-manager">

    <div class="modal__content">
        <div class="modal__close close"></div>

        <div class="title-1">Отправить коммерческое предложение</div>

        <form class="modal__form needs-validation" novalidate>
            <div class="modal__offer-manager_block">
                <div class="modal__form_title">Название объекта</div>
                <label class="modal__form_group">
                    <input type="text" class="modal__form_input" placeholder="SPAR на Краснопресненской" required>
                </label>
            </div>
            <!-- /.modal__offer-manager_block -->
            <div class="modal__offer-manager_block">
                <div class="modal__form_title">Кому</div>
                <label class="modal__form_group">
                    <select class="modal__form_select">
                        <option value="Value">Value</option>
                        <option value="Value">Value</option>
                        <option value="Value">Value</option>
                        <option value="Value">Value</option>
                    </select>
                </label>
            </div>
            <!-- /.modal__offer-manager_block -->
            <div class="modal__offer-manager_block">
                <div class="modal__form_title">Тема письма</div>
                <label class="modal__form_group">
                    <input type="tel" class="modal__form_input" placeholder="Введите тему письма" required>
                </label>
            </div>
            <!-- /.modal__offer-manager_block -->
            <label class="modal__form_group">
                <textarea class="modal__form_textarea" placeholder="Комментарий"></textarea>
            </label>
            <div class="modal__form_block">
                <div class="modal__w-50">
                    <div class="modal__form_group">
                        <label class="modal__form_file">
                            <img src="assets/img/icons/bracket.png" alt="">
                            <input type="file" required>
                            <span class="filename">Коммерческое предложение</span>
                        </label>
                    </div>
                    <div class="modal__form_group">
                        <button class="btn btn-red w-100">Отправить</button>
                    </div>
                </div>
            </div>
            <!-- /.modal__form_block -->

        </form>
        <!-- /.modal__form -->
    </div>
    <!-- /.modal__content -->

    <div class="overlay-modal"></div>

</div>
<!-- /.modal -->