<a href="#modal-registration" class="btn btn-red js-modal-link">Регистрация</a>

<div class="modal" id="modal-registration">

    <div class="modal__content">
        <div class="modal__close close"></div>

        <div class="title-1">Регистрация</div>

        <div class="modal__subtitle">
            Регистрация позволит вам
            <a href="#" class="link-red">получить персональную скидку</a>
            , хранить все рассчитанные коммерческие в системе, получать коммерческие предложения и счета в один клик
        </div>

        <form class="modal__form">
            <div class="modal__form_block">
                <div class="modal__form_title">Title</div>
                <div class="modal__w-50">
                    <label class="modal__form_group">
                        <input type="text" class="modal__form_input" placeholder="placeholder" required>
                    </label>
                    <label class="modal__form_group">
                        <input type="email" class="modal__form_input" placeholder="placeholder" required>
                    </label>
                    <label class="modal__form_group">
                        <input type="tel" class="modal__form_input" placeholder="placeholder" required>
                    </label>
                </div>
            </div>
            <!-- /.modal__form_block -->
            <div class="modal__form_block">
                <div class="modal__form_title">Title</div>
                <div class="modal__w-50">
                    <label class="modal__form_group">
                        <input type="text" class="modal__form_input" placeholder="placeholder" required>
                    </label>
                    <label class="modal__form_group">
                        <select class="modal__form_select">
                            <option value="Value">Value</option>
                            <option value="Value">Value</option>
                            <option value="Value">Value</option>
                            <option value="Value">Value</option>
                        </select>
                    </label>
                    <label class="modal__form_group">
                        <input type="text" class="modal__form_input" placeholder="placeholder" required>
                    </label>
                    <label class="modal__form_group">
                        <input type="text" class="modal__form_input" placeholder="placeholder" required>
                    </label>
                    <label class="modal__form_group">
                        <input type="text" class="modal__form_input" placeholder="placeholder" required>
                    </label>
                </div>
            </div>
            <!-- /.modal__form_block -->
            <div class="modal__form_block">
                <div class="modal__w-50">
                    <div class="modal__form_group">
                        <label class="modal__form_check">
                            <input type="checkbox" class="check-input" checked>
                            <span class="check-box"></span>
                            <span class="check-label">Я даю согласие на обработку персональных данных</span>
                        </label>
                    </div>
                    <div class="modal__form_group">
                        <button class="btn btn-red w-100">Зарегистрироваться</button>
                    </div>
                </div>
            </div>
            <!-- /.modal__form_block -->

        </form>
        <!-- /.modal__form -->
    </div>
    <!-- /.modal__content -->

    <div class="overlay-modal"></div>

</div>
<!-- /.modal -->