.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 280px;
  height: 29px;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 10px;
  color: $white;
  transition: .3s;
  &.btn-red {
    background-color: $red;
    &:hover {
      background-color: darken($red, 15);
    }
    &.btn-outline {
      border: 1px solid $red;
      background-color: #ffe9e9;
      color: $red;
      &:hover {
        background-color: $red;
        color: $white;
      }
    }
  }
  &.btn-gray {
    background-color: $gray;
    &:hover {
      background-color: darken($gray, 5);
    }
  }
  &.btn-blue {
    background-color: $blue;
    &:hover {
      background-color: darken($blue, 5);
    }
  }
  &.w-100 {
    width: 100%;
  }
  &.btn-bold {
    font-weight: bold;
  }
}

.link-red {
  color: $red;
  &:hover {
    color: darken($red, 25);
  }
}

.underline {
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
  }
}