@media (min-width: 992px) {
  .overlay {
    display: none !important;
  }
}

@media (max-width: 991.98px) {
  .container {
    padding: 0 10px;
  }
  .btn {
    max-width: 200px;
  }
  .hamburger {
    display: block;
  }
}

@media (max-width: 767.98px) {
  .hamburger {
    width: 30px;
    height: 20px;
  }
  .hamburger-line {
    height: 2px;
  }
  .tab-content {
    padding: 20px 0 30px;
  }
  .tab {
    overflow-x: auto;
    overflow-y: hidden;
    margin-right: -10px;
    li {
      &:last-child {
        padding-right: 10px;
      }
    }
  }
  .modal__content {
    padding: 15px;
    .title-1 {
      padding-right: 25px;
    }
  }
  .modal__w-50 {
    margin-right: 0;
    .modal__form_group {
      width: 100%;
      margin-right: 0;
    }
  }
}