@media (min-width: 992px) {
  .overlay {
    display: none !important;
  }
}

@media (max-width: 991.98px) {
  .container {
    padding: 0 10px;
  }
  .btn {
    max-width: 200px;
  }
  .hamburger {
    display: block;
  }
}

@media (max-width: 767.98px) {
  .hamburger {
    width: 30px;
    height: 20px;
  }
  .hamburger-line {
    height: 2px;
  }
  .tab-content {
    padding: 20px 0 30px;
  }
  .tab {
    display: block;
    padding-bottom: 5px;
    li {
      padding: 5px 0;
      &:not(:last-child) {
        margin-right: 0;
      }
      a {
        padding-bottom: 0;
        &:before {
          display: none;
        }
      }
    }
  }
}