body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  background-color: $bg;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: $black;
  &.hidden {
    overflow: hidden;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.close {
  position: relative;
  display: block;
  width: 12px;
  height: 12px;
  cursor: pointer;
  transition: .3s;
  &:hover {
    &:before, &:after {
      background-color: darken($red, 25);
    }
  }
  &:before, &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: $red;
  }
  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.menu-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  &:before, &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: $red;
  }
  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.overlay, .overlay-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($black, .4);
  z-index: 2;
  display: none;
  &.active {
    display: block;
  }
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  font-weight: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  transition: all .3s;
  &:hover {
    text-decoration: none;
  }
}

//select {
//  -webkit-appearance: none;
//  -moz-appearance: none;
//  appearance: none;
//  margin: 0;
//}

//select {
//  -moz-appearance:textfield;
//}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }