@media (max-width: 991.98px) {
  .page-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    margin: 0 -10px;
  }
  .main {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
  }
  .ventilation__filters {
    height: auto;
    min-height: 50px;
  }
  .cards__list {
    padding: 0 15px 30px;
  }
}

@media (max-width: 767.98px) {
  .ventilation__filters {
    padding: 10px;
  }
  .cards__list {
    padding: 0 10px;
  }
  .card {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .card__img {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    margin-bottom: 10px;
    padding: 0;
    img {
      max-width: none;
      max-height: none;
    }
  }
  .card__info {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    padding: 0;
  }
  .card__value {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
    margin-top: 15px;
    padding: 0;
    border: none;
  }
  .card__value_count {
    margin-top: 5px;
  }
  .card__value_btn {
    margin-top: 15px;
  }
}