<div class="ventilation">
    <div class="container">

        <div class="page-grid">

            //= ../filter/filter.html

            <div class="main">

                <ul class="ventilation__filters">
                    <li class="ventilation__filters_item">
                        <a href="#" class="ventilation__filters_item_link"><span>х</span>  1-фазный (~220 В)</a>
                    </li>
                    <li class="ventilation__filters_item">
                        <a href="#" class="ventilation__filters_item_link"><span>х</span>  прямой пуск</a>
                    </li>
                </ul>

                <ul class="cards__list">
                    <li class="card">
                        <div class="card__img">
                            <img src="assets/img/card.png" alt="">
                        </div>
                        <div class="card__info">
                            <div class="card__info_name">Щит управления вентиляцией с <br> электрокалорифером ЩУВ Э3150-ПЧ122</div>
                            <ul class="card__info_list">
                                <li class="card__info_list_item">Вентилятор: ~220В, до 2,2 кВт;</li>
                                <li class="card__info_list_item">Тип пуска: преобразователь частоты;</li>
                                <li class="card__info_list_item">Калорифер: электрический ~380В;</li>
                                <li class="card__info_list_item">Мощность калорифера: до 15 кВт;</li>
                            </ul>
                            <ul id="card-info-list-1" class="card__info_list dropdown-content">
                                <li class="card__info_list_item">Вентилятор: ~220В, до 2,2 кВт;</li>
                                <li class="card__info_list_item">Тип пуска: преобразователь частоты;</li>
                                <li class="card__info_list_item">Калорифер: электрический ~380В;</li>
                                <li class="card__info_list_item">Мощность калорифера: до 15 кВт;</li>
                            </ul>
                            <a href="#card-info-list-1" class="view-all dropdown-link">Развернуть</a>
                        </div>
                        <div class="card__value">
                            <div class="card__value_price">
                                <span>Цена</span>
                                <span>19 900 р.</span>
                            </div>
                            <div class="card__value_count">
                                <span>Наличие</span>
                                <span>10 шт.</span>
                            </div>
                            <div class="card__value_btn">
                                <button class="btn btn-red w-100">
                                    + в КП <span class="triangle"></span>
                                </button>
                            </div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="card__img">
                            <img src="assets/img/card.png" alt="">
                        </div>
                        <div class="card__info">
                            <div class="card__info_name">Щит управления вентиляцией с <br> электрокалорифером ЩУВ Э3150-ПЧ122</div>
                            <ul class="card__info_list">
                                <li class="card__info_list_item">Вентилятор: ~220В, до 2,2 кВт;</li>
                                <li class="card__info_list_item">Тип пуска: преобразователь частоты;</li>
                                <li class="card__info_list_item">Калорифер: электрический ~380В;</li>
                                <li class="card__info_list_item">Мощность калорифера: до 15 кВт;</li>
                            </ul>
                            <ul id="card-info-list-2" class="card__info_list dropdown-content">
                                <li class="card__info_list_item">Вентилятор: ~220В, до 2,2 кВт;</li>
                                <li class="card__info_list_item">Тип пуска: преобразователь частоты;</li>
                                <li class="card__info_list_item">Калорифер: электрический ~380В;</li>
                                <li class="card__info_list_item">Мощность калорифера: до 15 кВт;</li>
                            </ul>
                            <a href="#card-info-list-2" class="view-all dropdown-link">Развернуть</a>
                        </div>
                        <div class="card__value">
                            <div class="card__value_price">
                                <span>Цена</span>
                                <span>19 900 р.</span>
                            </div>
                            <div class="card__value_count">
                                <span>Наличие</span>
                                <span>10 шт.</span>
                            </div>
                            <div class="card__value_btn">
                                <button class="btn btn-red w-100">
                                    + в КП <span class="triangle"></span>
                                </button>
                            </div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="card__img">
                            <img src="assets/img/card.png" alt="">
                        </div>
                        <div class="card__info">
                            <div class="card__info_name">Щит управления вентиляцией с <br> электрокалорифером ЩУВ Э3150-ПЧ122</div>
                            <ul class="card__info_list">
                                <li class="card__info_list_item">Вентилятор: ~220В, до 2,2 кВт;</li>
                                <li class="card__info_list_item">Тип пуска: преобразователь частоты;</li>
                                <li class="card__info_list_item">Калорифер: электрический ~380В;</li>
                                <li class="card__info_list_item">Мощность калорифера: до 15 кВт;</li>
                            </ul>
                            <ul id="card-info-list-3" class="card__info_list dropdown-content">
                                <li class="card__info_list_item">Вентилятор: ~220В, до 2,2 кВт;</li>
                                <li class="card__info_list_item">Тип пуска: преобразователь частоты;</li>
                                <li class="card__info_list_item">Калорифер: электрический ~380В;</li>
                                <li class="card__info_list_item">Мощность калорифера: до 15 кВт;</li>
                            </ul>
                            <a href="#card-info-list-3" class="view-all dropdown-link">Развернуть</a>
                        </div>
                        <div class="card__value">
                            <div class="card__value_price">
                                <span>Цена</span>
                                <span>19 900 р.</span>
                            </div>
                            <div class="card__value_count">
                                <span>Наличие</span>
                                <span>10 шт.</span>
                            </div>
                            <div class="card__value_btn">
                                <button class="btn btn-red w-100">
                                    + в КП <span class="triangle"></span>
                                </button>
                            </div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="card__img">
                            <img src="assets/img/card.png" alt="">
                        </div>
                        <div class="card__info">
                            <div class="card__info_name">Щит управления вентиляцией с <br> электрокалорифером ЩУВ Э3150-ПЧ122</div>
                            <ul class="card__info_list">
                                <li class="card__info_list_item">Вентилятор: ~220В, до 2,2 кВт;</li>
                                <li class="card__info_list_item">Тип пуска: преобразователь частоты;</li>
                                <li class="card__info_list_item">Калорифер: электрический ~380В;</li>
                                <li class="card__info_list_item">Мощность калорифера: до 15 кВт;</li>
                            </ul>
                            <ul id="card-info-list-4" class="card__info_list dropdown-content">
                                <li class="card__info_list_item">Вентилятор: ~220В, до 2,2 кВт;</li>
                                <li class="card__info_list_item">Тип пуска: преобразователь частоты;</li>
                                <li class="card__info_list_item">Калорифер: электрический ~380В;</li>
                                <li class="card__info_list_item">Мощность калорифера: до 15 кВт;</li>
                            </ul>
                            <a href="#card-info-list-4" class="view-all dropdown-link">Развернуть</a>
                        </div>
                        <div class="card__value">
                            <div class="card__value_price">
                                <span>Цена</span>
                                <span>19 900 р.</span>
                            </div>
                            <div class="card__value_count">
                                <span>Наличие</span>
                                <span>10 шт.</span>
                            </div>
                            <div class="card__value_btn">
                                <button class="btn btn-red w-100">
                                    + в КП <span class="triangle"></span>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- /.cards__list -->

            </div>
            <!-- /.main -->

            //= ../position/position-managers.html

        </div>
        <!-- /.page-grid -->

    </div>
    <!-- /.container -->
</div>
<!-- /.ventilation -->