.ventilation {
  overflow: hidden;
}

.page-grid {
  display: -ms-grid;
  -ms-grid-columns: 1fr 2fr 1fr;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.main {
  -ms-grid-column: 2;
  -ms-grid-row: 1;
}

.ventilation__filters {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  padding: 30px 15px 10px;
  box-sizing: border-box;
}

.ventilation__filters_item {
  margin-right: 15px;
  font-size: 11px;
  color: $gray;
  span {
    cursor: pointer;
  }
}

.cards__list {
  padding: 0 15px 50px;
}

.card {
  display: -ms-grid;
  -ms-grid-columns: 105px 1fr 85px;
  display: grid;
  grid-template-columns: 105px 1fr 85px;
  margin-bottom: 5px;
  padding: 15px;
  border-radius: 10px;
  background-color: $white;
  &:last-child {
    margin-bottom: 0;
  }
}

.card__img {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  padding: 0 5px;
}

.card__info {
  -ms-grid-column: 2;
  -ms-grid-row: 1;
  padding: 0 15px;
}

.card__value {
  -ms-grid-column: 3;
  -ms-grid-row: 1;
  padding-left: 15px;
  border-left: 1px solid #d6dadd;
}

.card__info_name {
  margin-bottom: 5px;
  font-weight: bold;
  color: $blue;
}

.card__info_list_item {
  color: $gray;
}

.view-all {
  display: inline-block;
  color: $red;
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
  }
  &:before {
    display: none;
  }
}

.card__value_price {
  font-weight: bold;
  color: $blue;
  span {
    white-space: nowrap;
  }
}

.card__value_count {
  margin-top: 10px;
  color: $gray;
  span {
    white-space: nowrap;
  }
}

.card__value_btn {
  margin-top: 25px;
  .triangle {
    width: 0;
    height: 0;
    margin-left: 10px;
    border-style: solid;
    border-width: 3.5px 0 3.5px 7px;
    border-color: transparent transparent transparent $white;
  }
}