<div class="position js-menu" id="position">

    <div class="position__close menu-close" data-target="#position"></div>

    <div class="position__title">
        <div class="title-1">Выбранные позиции</div>
    </div>

    <div class="position__discount">
        <div class="position__discount_item">
            <div class="position__discount_label">Скидка <br> на щиты</div>
            <input type="number" class="input-discount" min="0" value="0">
        </div>
        <div class="position__discount_item">
            <div class="position__discount_label">Скидка <br> на компл.</div>
            <input type="number" class="input-discount" min="0" value="0">
        </div>
    </div>

    <ul class="position__list">
        <li class="position__list_system">
            <div class="system__title">
                Система 1
                <div class="system__title_icon">
                    <img src="../../assets/img/icons/pen.png" alt="">
                </div>
            </div>
            <ul class="system__info_list">
                <li class="system__info_list_item">
                    <div class="system__info">
                        <div class="system__info_name">
                            Щит управления вентиляцией с электрокалорифером ЩУВ Э3150-ПЧ122
                        </div>
                        <div class="system__info_count">
                            <input class="count" type="number" value="1" step="1" min="1">
                        </div>
                        <div class="system__info_close">
                            <span class="close"></span>
                        </div>
                    </div>
                    <div class="system__info_price">16 980 р.</div>
                </li>
                <li class="system__info_list_item">
                    <div class="system__info required">
                        <div class="system__info_name">
                            Преобразователь частоты <br>
                            <span>Необходимо выбрать</span>
                        </div>
                        <div class="system__info_count">
                            <input class="count" type="number" value="1" step="1" min="1">
                        </div>
                        <div class="system__info_close">
                            <span class="close"></span>
                        </div>
                    </div>
                </li>
                <li class="system__info_list_item">
                    <div class="system__info">
                        <div class="system__info_name">
                            Датчик температуры HS1-01
                        </div>
                        <div class="system__info_count">
                            <input class="count" type="number" value="1" step="1" min="1">
                        </div>
                        <div class="system__info_close">
                            <span class="close"></span>
                        </div>
                    </div>
                    <div class="system__info_price">780 р.</div>
                </li>
            </ul>
            <div class="system__sum">
                <div class="system__sum_title">Итого по системе:</div>
                <div class="system__sum_value">20 780 р.</div>
            </div>
            <div class="system__delete">
                <span class="close"></span>
                Удалить систему
            </div>
        </li>
        <!-- /.position__list_system -->
        <li class="position__list_system">
            <div class="system__title">
                Система 2. Очень длинное название второй системы
                <div class="system__title_icon">
                    <img src="../../assets/img/icons/pen.png" alt="">
                </div>
            </div>
            <ul class="system__info_list">
                <li class="system__info_list_item">
                    <div class="system__info">
                        <div class="system__info_name">
                            Щит управления вентиляцией с электрокалорифером ЩУВ Э3150-ПЧ122
                        </div>
                        <div class="system__info_count">
                            <input class="count" type="number" value="1" step="1" min="1">
                        </div>
                        <div class="system__info_close">
                            <span class="close"></span>
                        </div>
                    </div>
                    <div class="system__info_price">16 980 р.</div>
                </li>
                <li class="system__info_list_item">
                    <div class="system__info">
                        <div class="system__info_name">
                            Датчик температуры HS1-01
                        </div>
                        <div class="system__info_count">
                            <input class="count" type="number" value="1" step="1" min="1">
                        </div>
                        <div class="system__info_close">
                            <span class="close"></span>
                        </div>
                    </div>
                    <div class="system__info_price">780 р.</div>
                </li>
                <li class="system__info_list_item">
                    <div class="system__info">
                        <div class="system__info_name">
                            Датчик температуры HS1-01
                        </div>
                        <div class="system__info_count">
                            <input class="count" type="number" value="1" step="1" min="1">
                        </div>
                        <div class="system__info_close">
                            <span class="close"></span>
                        </div>
                    </div>
                    <div class="system__info_price">780 р.</div>
                </li>
            </ul>
            <div class="system__sum">
                <div class="system__sum_title">Итого по системе:</div>
                <div class="system__sum_value">20 780 р.</div>
            </div>
            <div class="system__delete">
                <span class="close"></span>
                Удалить систему
            </div>
        </li>
        <!-- /.position__list_system -->
    </ul>
    <!-- /.position__list -->

    <div class="position__sum">
        <div class="position__sum_title">Итого КП:</div>
        <div class="position__sum_value">455 780 р.</div>
    </div>

    <div class="position__btn_add-system">
        <button class="btn btn-gray w-100 btn-bold">Добавить новую систему</button>
    </div>
    <div class="position__btn_kp">
        <button class="btn btn-red w-100 btn-bold">Сформировать КП</button>
    </div>
    <div class="position__btn_score">
        <button class="btn btn-red btn-outline w-100 btn-bold">Сформировать счёт</button>
    </div>

</div>
<!-- /.position -->