<a href="#modal-thank-registration" class="btn btn-red js-modal-link">Спасибо за регистрацию!</a>

<div class="modal modal__thank modal__thank-registration" id="modal-thank-registration">

    <div class="modal__content">
        <div class="modal__close close"></div>
        <div class="title-1">Спасибо за регистрацию!</div>
        <div class="modal__thank_subtitle">
            Вам на почту <br>
            <a class="link-red underline" href="mailto:klient@priner-klient.ru"><i>klient@priner-klient.ru</i></a> <br>
            отправлено письмо с данными для входа в личный кабинет.
        </div>
        <div class="modal__form_title">Если возникнут вопросы</div>
        <ul class="modal__thank_list">
            <li class="modal__thank_list_item">
                <span>></span>
                звоните по номеру
                <a href="tel:+78129850550">+7 (812) 985-05-50</a>
            </li>
            <li class="modal__thank_list_item">
                <span>></span>
                пишите в
                <a href="tel:+79679774227">WhatsApp +7 (967) 977-42-27</a>
            </li>
            <li class="modal__thank_list_item">
                <span>></span>
                пишите на почту
                <a href="mailto:info@gkavtomatika.ru">info@gkavtomatika.ru</a>
            </li>
        </ul>
    </div>
    <!-- /.modal__content -->

    <div class="overlay-modal"></div>

</div>
<!-- /.modal -->