<div class="profile">
    <div class="container">

        <div class="profile__grid">

            <div class="profile__grid_left">
                <div class="title-1">Личные данные</div>
                <ul class="profile__data">
                    <li class="profile__data_item">
                        <div class="profile__data_item_label">ФИО</div>
                        <div class="profile__data_item_value">
                            Александров <br>
                            Иван <br>
                            Евгеньевич
                        </div>
                    </li>
                    <li class="profile__data_item">
                        <div class="profile__data_item_label">E-mail</div>
                        <div class="profile__data_item_value">primer@primermatika.ru</div>
                    </li>
                    <li class="profile__data_item mb-0">
                        <div class="profile__data_item_label">Телефон</div>
                        <div class="profile__data_item_value">+7 495 300 54 55</div>
                    </li>
                    <li class="profile__data_item">
                        <div class="profile__data_item_label">доб.</div>
                        <div class="profile__data_item_value">51</div>
                    </li>
                    <li class="profile__data_edit">
                        <a href="#" class="link-red underline">Редактировать</a>
                    </li>
                </ul>
            </div>
            <!-- /.profile__grid_left -->

            <div class="profile__grid_right"></div>
            <!-- /.profile__grid_right -->

        </div>
        <!-- /.profile__grid -->

    </div>
    <!-- /.container -->
</div>
<!-- /.profile -->