<div class="profile">
    <div class="container">

        <div class="profile__grid">

            <div class="profile__grid_left">
                <div class="title-1">Личные данные</div>
                <ul class="profile__data">
                    <li class="profile__data_item">
                        <div class="profile__data_item_label">ФИО</div>
                        <div class="profile__data_item_value">
                            Александров <br>
                            Иван <br>
                            Евгеньевич
                        </div>
                    </li>
                    <li class="profile__data_item">
                        <div class="profile__data_item_label">E-mail</div>
                        <div class="profile__data_item_value">primer@primermatika.ru</div>
                    </li>
                    <li class="profile__data_item mb-0">
                        <div class="profile__data_item_label">Телефон</div>
                        <div class="profile__data_item_value">+7 495 300 54 55</div>
                    </li>
                    <li class="profile__data_item">
                        <div class="profile__data_item_label">доб.</div>
                        <div class="profile__data_item_value">51</div>
                    </li>
                    <li class="profile__data_edit">
                        <a href="#" class="link-red underline">Редактировать</a>
                    </li>
                </ul>
            </div>
            <!-- /.profile__grid_left -->

            <div class="profile__grid_right">

                <div class="profile__block">
                    <div class="profile__block_title">
                        <div class="title-1">Организации</div>
                        <a href="#" class="profile__block_add link-gray">+ добавить</a>
                    </div>
                    <ul class="profile__block_list">
                        <li class="profile__card">
                            <div class="profile__card_top">
                                <div class="profile__card_name">ООО “Рога и копыта”</div>
                                <a href="#" class="link-gray">По умолчанию</a>
                            </div>
                            <ul class="profile__card_list">
                                <li class="profile__card_list_item">
                                    <div class="profile__card_list_item_label">ИНН</div>
                                    <div class="profile__card_list_item_value">7706165102</div>
                                </li>
                                <li class="profile__card_list_item">
                                    <div class="profile__card_list_item_label">БИК</div>
                                    <div class="profile__card_list_item_value">04580577</div>
                                </li>
                                <li class="profile__card_list_item">
                                    <div class="profile__card_list_item_label">Расчётный счёт</div>
                                    <div class="profile__card_list_item_value">40702810500000000001</div>
                                </li>
                                <li class="profile__card_list_item">
                                    <div class="profile__card_list_item_label">Юр. адрес</div>
                                    <div class="profile__card_list_item_value">124365 г.Москва, ул. Ленина, д.1, корп.1, офис 1</div>
                                </li>
                                <li class="profile__card_list_item">
                                    <div class="profile__card_list_item_label">Факт. адрес</div>
                                    <div class="profile__card_list_item_value">124365 г.Москва, ул. Ленина, д.1, корп.2, офис 2</div>
                                </li>
                            </ul>
                            <div class="profile__card_bot">
                                <a href="#" class="link-red underline">Редактировать</a>
                                <a href="#" class="close"></a>
                            </div>
                        </li>
                        <li class="profile__card">
                            <div class="profile__card_top">
                                <div class="profile__card_name">ООО “Рога и копыта”</div>
                            </div>
                            <ul class="profile__card_list">
                                <li class="profile__card_list_item">
                                    <div class="profile__card_list_item_label">ИНН</div>
                                    <div class="profile__card_list_item_value">7706165102</div>
                                </li>
                                <li class="profile__card_list_item">
                                    <div class="profile__card_list_item_label">БИК</div>
                                    <div class="profile__card_list_item_value">04580577</div>
                                </li>
                                <li class="profile__card_list_item">
                                    <div class="profile__card_list_item_label">Расчётный счёт</div>
                                    <div class="profile__card_list_item_value">40702810500000000001</div>
                                </li>
                                <li class="profile__card_list_item">
                                    <div class="profile__card_list_item_label">Юр. адрес</div>
                                    <div class="profile__card_list_item_value">124365 г.Москва, ул. Ленина, д.1, корп.1, офис 1</div>
                                </li>
                                <li class="profile__card_list_item">
                                    <div class="profile__card_list_item_label">Факт. адрес</div>
                                    <div class="profile__card_list_item_value">124365 г.Москва, ул. Ленина, д.1, корп.2, офис 2</div>
                                </li>
                            </ul>
                            <div class="profile__card_bot">
                                <a href="#" class="link-red underline">Редактировать</a>
                                <a href="#" class="close"></a>
                            </div>
                        </li>
                        <li class="profile__card">
                            <div class="profile__card_top">
                                <div class="profile__card_name">ООО “Рога и копыта”</div>
                            </div>
                            <ul class="profile__card_list">
                                <li class="profile__card_list_item">
                                    <div class="profile__card_list_item_label">ИНН</div>
                                    <div class="profile__card_list_item_value">7706165102</div>
                                </li>
                                <li class="profile__card_list_item">
                                    <div class="profile__card_list_item_label">БИК</div>
                                    <div class="profile__card_list_item_value">04580577</div>
                                </li>
                                <li class="profile__card_list_item">
                                    <div class="profile__card_list_item_label">Расчётный счёт</div>
                                    <div class="profile__card_list_item_value">40702810500000000001</div>
                                </li>
                                <li class="profile__card_list_item">
                                    <div class="profile__card_list_item_label">Юр. адрес</div>
                                    <div class="profile__card_list_item_value">124365 г.Москва, ул. Ленина, д.1, корп.1, офис 1</div>
                                </li>
                                <li class="profile__card_list_item">
                                    <div class="profile__card_list_item_label">Факт. адрес</div>
                                    <div class="profile__card_list_item_value">124365 г.Москва, ул. Ленина, д.1, корп.2, офис 2</div>
                                </li>
                            </ul>
                            <div class="profile__card_bot">
                                <a href="#" class="link-red underline">Редактировать</a>
                                <a href="#" class="close"></a>
                            </div>
                        </li>
                    </ul>
                    <!-- /.profile__block_list -->
                </div>
                <!-- /.profile__block -->

                <div class="profile__block">
                    <div class="profile__block_title">
                        <div class="title-1">Адреса доставки</div>
                        <a href="#" class="profile__block_add link-gray">+ добавить</a>
                    </div>
                    <ul class="profile__block_list">
                        <li class="profile__card">
                            <div class="profile__card_top">
                                <div class="profile__card_name">На склад</div>
                                <a href="#" class="link-gray">По умолчанию</a>
                            </div>
                            <ul class="profile__card_list">
                                <li class="profile__card_list_item">
                                    <div class="profile__card_list_item_label">Тип доставки</div>
                                    <div class="profile__card_list_item_value">до пункта самовывоза</div>
                                </li>
                                <li class="profile__card_list_item">
                                    <div class="profile__card_list_item_label">Город</div>
                                    <div class="profile__card_list_item_value">Москва</div>
                                </li>
                                <li class="profile__card_list_item">
                                    <div class="profile__card_list_item_label">Адрес</div>
                                    <div class="profile__card_list_item_value">Краснопресненская наб., д.18</div>
                                </li>
                                <li class="profile__card_list_item">
                                    <div class="profile__card_list_item_label">Получатель</div>
                                    <div class="profile__card_list_item_value">Иванов Иван Александрович</div>
                                </li>
                                <li class="profile__card_list_item">
                                    <div class="profile__card_list_item_label">Телефон</div>
                                    <div class="profile__card_list_item_value">+79045117980</div>
                                </li>
                                <li class="profile__card_list_item">
                                    <div class="profile__card_list_item_label">Комментарий</div>
                                    <div class="profile__card_list_item_value"></div>
                                </li>
                            </ul>
                            <div class="profile__card_bot">
                                <a href="#" class="link-red underline">Редактировать</a>
                                <a href="#" class="close"></a>
                            </div>
                        </li>
                    </ul>
                    <!-- /.profile__block_list -->
                </div>
                <!-- /.profile__block -->

            </div>
            <!-- /.profile__grid_right -->

        </div>
        <!-- /.profile__grid -->

    </div>
    <!-- /.container -->
</div>
<!-- /.profile -->