.profile {
  overflow: hidden;
}

.profile__grid {
  display: -ms-grid;
  -ms-grid-columns: 1fr 2fr;
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: calc(100vh - 251px);
}

.profile__grid_left {
  -ms-grid-column: 1;
  position: relative;
  padding: 30px 0;
  background-color: $white;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 10000px;
    height: 100%;
    background-color: $white;
  }
}

.profile__grid_right {
  -ms-grid-column: 2;
  padding: 30px 0 30px 15px;
}

.profile__data {
  margin-top: 30px;
}

.profile__data_item {
  display: -ms-grid;
  -ms-grid-columns: 100px 1fr;
  display: grid;
  grid-template-columns: 100px 1fr;
  margin-bottom: 10px;
  &.mb-0 {
    margin-bottom: 0;
  }
}

.profile__data_item_label {
  -ms-grid-column: 1;
  color: $gray;
}

.profile__data_item_value {
  -ms-grid-column: 2;
  color: $blue;
}

.profile__block {}

.profile__block_title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.profile__block_add {
  margin-left: 20px;
}

.profile__block_list {
  display: flex;
  flex-wrap: wrap;
  margin: 15px -15px 30px 0;
}

.profile__card {
  width: calc(50% - 15px);
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(55, 55, 55, 0.02);
  background-color: $white;
}

.profile__card_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile__card_name {
  font-weight: bold;
  color: $blue;
}

.profile__card_list {
  margin-top: 10px;
}

.profile__card_list_item {
  display: -ms-grid;
  -ms-grid-columns: 130px 1fr;
  display: grid;
  grid-template-columns: 130px 1fr;
  margin-bottom: 5px;
}

.profile__card_list_item_label {
  -ms-grid-column: 1;
  padding-right: 10px;
  color: $gray;
}

.profile__card_list_item_value {
  -ms-grid-column: 2;
  color: $blue;
}

.profile__card_bot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}