<a href="#modal-password-forgot" class="btn btn-red js-modal-link">Забыли пароль?</a>

<div class="modal modal__password-forgot" id="modal-password-forgot">

    <div class="modal__content">
        <div class="modal__close close"></div>

        <div class="title-1">Забыли пароль?</div>

        <div class="modal__subtitle">Не проблема! Укажите ваш e-mail, и мы вышлем на него новый пароль</div>

        <form class="modal__form needs-validation" novalidate>
            <label class="modal__form_group">
                <input type="email" class="modal__form_input" placeholder="E-mail" required>
            </label>
            <div class="modal__form_group">
                <button class="btn btn-red w-100">Восстановить пароль</button>
            </div>

        </form>
        <!-- /.modal__form -->
    </div>
    <!-- /.modal__content -->

    <div class="overlay-modal"></div>

</div>
<!-- /.modal -->